.hodintro {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.hodintro-right{
     flex-basis: 40%;
}
.hodintro-left{
    flex-basis: 56%;
}
.hodintro-img{
    width: 90%;
    border-radius: 10px;
}
.hodintro h3{
    font-weight: 600;
    font-weight: 16px;
    color: #212EA0;
}
.hodintro h2{
    font-size: 35px;
    margin: 10px 0;
    color: #000F38;
    max-width: 400px;
}
.hodintro p{
    color: #676767;
    margin-bottom: 15px;
}

/* --------media query------- */

@media (max-width:800px){
    .hodintro{
        flex-direction: column;
        margin-top: 120px;
    }
    .hodintro-left{
        flex-basis: 100%;
    }
    .hodintro-right{
        flex-basis: 100%;
        margin: 20px;
    }
}